<h1> Welcome to your CouchGamer profile. <%= session[:user_first]%> <%= session[:user_last]%></h1>

<ul>
    <li> <%= session[:user_first] %> </li>
    <li> <%= session[:user_email %> </li>
    <li> <%= session[:user_password %> </li>
    <% end %>
    <li>  <%= session[:user_birthday] %>  </li>
    <a href='/delete'>Delete</a>
    <% end %>
</ul>